.balance-heading {
    color: #333;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

h1 {
    color: #4CAF50;
    font-size: 32px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.balance-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}