.footer {
    text-align: center;
    padding: 5px 10px;
    background-color: white;
    color: #4CAF50;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    height: 30px;
    line-height: 0px;
    font-weight: bold;
}
