.header-container {
    background-color: white;
    color: #4CAF50;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    height: 50px;
    width: auto;
}

h2 {
    margin: 0;
    font-size: 60px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

nav a, 
nav button {
    color: white;
    background-color: #45a049;
    text-decoration: none;
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
}

nav a:hover, 
nav button:hover {
    background-color: #3e8e41;
    cursor: pointer;
}
