@import url('https://fonts.googleapis.com/css?family=Lato&display=swap'); 

:root {
    --background-color: #f8f9fa;
    --container-bg: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000000;
}


.container {
    margin: 30px auto;
    width: 100%;
    max-width: 400px;
    background-color: var(--container-bg);
    box-shadow: 0 4px 8px var(--shadow-color);
    border-radius: 8px;
    padding: 20px;
}

.section {
    background-color: var(--container-bg);
    box-shadow: 0 2px 4px var(--shadow-color);
    padding: 15px;
    border-radius: 6px;
    margin: 15px 0;
}

/* @media (max-width: 320px) {
    .container {
        width: 100%;
        padding: 10px;
    }
} */