.home-container {
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.section-balance,
.section-income-expenses,
.section-add-transaction,
.section-monthly-overview,
.section-transaction-list {
    width: 100%; 
    max-width: 100%; 
    min-height: 150px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-overview-transaction {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
}

.section-balance-income-expenses {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    width: 100%;
    max-width: 100%;
}

.section-balance
.balance-income-expenses {
    flex: 1;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
}


.section-add-transaction {
    width: 100%;
    max-width: 100%;
}

.section-monthly-overview,
.section-transaction-list {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
}

/* @media (max-width: 768px) {
    .section-balance,
    .section-income-expenses,
    .section-add-transaction,
    .section-monthly-overview,
    .section-transaction-list {
        width: 100%;
    }
} */
