:root{
    --heading-color: #343a40;
    --primary-color: #007bff;
}
.Monthly-overview {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: var(--heading-color);
    margin: 20px 0 10px;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.Monthly-overview p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: var(--text-color);
    margin: 10px 0;
    text-align: center;
}

.total-income,
.total-expenses,
.net-balance {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.total-income {
    color: green;
}

.total-expenses {
    color: red;
}

.net-balance {
    color: var(--primary-color);
    border: 1px solid var(--primary-color); 
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .Monthly-overview {
        font-size: 1.2rem;
    }
    .Monthly-overview p {
        font-size: 1.2rem;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Monthly-overview,
.Monthly-overview p {
    animation: fadeIn 0.5s ease-in-out;
}